.store-picture_page_picture-store-settings{
  .store-picture-settings-wrap{
    padding: 30px;
    background: #FFF;
    input, select, textarea{
      box-shadow: none;
      outline: none;
    }

    .sp-instagram-access-token-ui{
      display: block;
      position: relative;
      img.ava{
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: auto;
        border-radius: 50%;
        float: left;
      }
      .info{
        display: block;
        padding-left: 75px;
        .name{
          padding-top: 10px;
          line-height: 20px;
          font-size: 16px;
          margin-bottom: 4px;
        }
        .token-text{
          font-size: 11px;
          line-height: normal;
          color: #999;
          text-decoration: underline;
        }
      }
    }
  }
}
